body {
    margin:0px;
}

* {
    box-sizing: border-box;
  }

.ppmain {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
   text-align: center;
   color:white;
   background-color: rgb(15, 184, 147);
   height: 10%;
   align-items: center;
   line-height: .8;
   
}

.header h2 {
    margin: 1%;
}
.header h5 {
    margin: 0%;
}

a {
    text-decoration: none;
    color:white;
}

ul {
    display: flex;
    list-style: none;
    background-color: rgb(37, 37, 37);
    margin: 0px;
    height: 5%;
    overflow: hidden;
    align-items: center;
}
li {
    padding:10px;
}

.main {
    display: flex;
    height: 80%;
}

.body1 {
    padding-left: 1%;
    min-width: 20%;
    background-color: rgb(228, 228, 228);
}
.photo {
    background-color: rgb(156, 156, 156);
    height: 25%;
    width: 95%;
    padding: 0% 8%;
}

.photo1 {
    background-color: rgb(156, 156, 156);
    height: 8%;
    width: 95%;
    padding: 2% 8%;
    margin-top: 5%;
}
.photo1 p{
    margin: 0%;
}

.photo2 {
    background-color: rgb(156, 156, 156);
    height: 20%;
    width: 95%;
    padding: 2% 2%;
}
.photo2 p{
    margin: 0%;
}

.body2 {
    width: 80%;
    background-color:rgb(255, 0, 0);
    padding-left: 1%;
}
.body2 p {
    margin: .5%;
}
.body2 h2 {
    margin: 1%;
    margin-top: 2%;
}
.pmain2 {
    background-color: rgb(202, 202, 202);;
    height: 10%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and  (min-width:1200px){
    .ppmain {
        overflow: auto;
        height: auto;
    }
    .main {
        min-height: 1000px;
         background-color:rgb(0, 255, 0);
    }

    body2 {
    background-color:rgb(255, 0, 0);
}
    .header{
        padding: 10px;
    }

}






